<div class="container">
    <br><br>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="py-4">
                        <img class="img-fluid rounded-circle img-thumbnail thumb96" src="assets/img/Usr.png"
                            alt="Contact" />
                    </div>
                    <h3 class="m-0 text-bold">Luis Fernando Cordova </h3>
                    <div class="my-3">
                        <p>
                            Desarrollador Y Consultor
                        </p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" target="_blank" [routerLink]="'/Curriculum/Luis_cordova'">Ver
                            Curriculum</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="py-4">
                        <img class="img-fluid rounded-circle img-thumbnail thumb96" src="assets/img/user/03.jpg"
                            alt="Contact" />
                    </div>
                    <h3 class="m-0 text-bold"> Francisco Javier Garcia </h3>
                    <div class="my-3">
                        <p>
                            Desarrollador Y Consultor Jr
                        </p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/profile.php?id=863715636">Ver
                            Curriculum</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="py-4">
                        <img class="img-fluid rounded-circle img-thumbnail thumb96" src="assets/img/user/02.jpg"
                            alt="Contact" />
                    </div>
                    <h3 class="m-0 text-bold">Julio Moreno  </h3>
                    <div class="my-3">
                        <p>
                            Desarrollador Y Consultor Jr    
                        </p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/Jc.ssaA">Ver
                        Curriculum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>