<div class="container">
    <div class="row">
        <!-- <div class="col-lg-12">
            <div class="row contenedor_cabecera">
                <div class="col-lg-3">
                    <div class="img-contenedor">
                        <img class="img-fluid " src="../../../../assets/img/Usr.png" style=" cursor: pointer;">
                    </div>
                </div>
                <div class="col-lg-6">
                    ACERCA DE MI
                </div>
                <div class="col-lg-3 contacto_detalle">
                    <div class="contacto_form"></div>
                    <b>CONTACTO</b>
                </div>
                <div class="col-lg-12">
                        <div class="detalle-form"></div>
                </div>
            </div>

        </div> -->

        <div class="col-lg-3">
            <div class="contenedor_datos">
                <div class="img-contenedor">
                    <img class="img-fluid " src="../../../../assets/img/Luis_cordova.png" style=" cursor: pointer;">
                </div>
                <br><br>
                <h3 class="text-center"> LUIS FERNANDO CORDOVA </h3>
                <h4 class="text-center"> Full stack Developer </h4>
                <br>
                <h4> Personal Data </h4>
                <table class="table text-white">
                    <tr>
                        <td><b>Date of birth</b> </td>
                        <td>24/08/1991</td>
                    </tr>
                    <tr>
                        <td><b>Nationality</b> </td>
                        <td>Mexican</td>
                    </tr>
                    <tr>
                        <td><b>Marital status</b> </td>
                        <td>Married</td>
                    </tr>
                </table>
                <h4> Contact </h4>
                <table class="table  text-white">
                    <tr>
                        <td><b>Mobile</b> </td>
                        <td>6621-691999</td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>luisfernandocordova.24@gmail.com</p></td>
                    </tr>
                    <tr>
                        <td><b>Webpage</b> </td>
                        <td>metasoluciones.com</td>
                    </tr>
                </table>
                <h4> Software </h4>
                <table class="table  text-white">
                    <tr>
                        <td>
                            <b>ERP and CRM</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Herramienta de diseño">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="success" value="70">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">70%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Sage Intacct</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Herramienta de diseño">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="primary" value="60">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">60%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Design software</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Herramienta de diseño">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="warning" value="70">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">70%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Centos / Unix Terminals</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="linux ">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="danger" value="80">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">80%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mandrill / Handlebars</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Mailing tooks">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="info" value="65">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">65%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <h4> Other sites </h4>
                <table class="table text-white">
                    <tr><td> <a>Linked In | <i class="fa fa-external-link-alt"></i></a></td> </tr>
                    <tr><td> <a>Computrabajo | <i class="fa fa-external-link-alt"></i></a></td></tr>
                </table>
                <h4>English</h4>
                <table class="table text-white">
                    <tr>
                        <td>
                            <b>Reading </b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Lectura">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="info" value="90">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">90%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Grammar and writing</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Escritura y gramatica">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="primary" value="95">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">95%</div>
                                </div>
                            </div>
                        </td>
                    </tr>       
                    <tr>
                        <td>
                            <b>Speaking</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Pronunciación">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="danger" value="90">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">90%</div>
                                </div>
                            </div>
                        </td>
                    </tr>                                 
                </table>
            </div>
        </div>
        <div class="col-lg-9">
            <h3 class="separador"></h3>
            <div class="row">
                <div class="col-lg-12">
                    <h3>INTERESTS AND HOBBIES</h3>
                    <p>
                        <a class="tags"> Puzzles </a>
                        <a class="tags"> Rubik's Cubes</a>
                        <a class="tags"> Economic trends</a>
                        <a class="tags"> Problem solving</a>
                        <a class="tags"> Physics and astronomy</a>
                        <a class="tags"> Investments and bussiness </a>
                        <a class="tags"> Freelancer </a>
                    </p>
                </div>
                <div class="col-lg-2">
                    <h4>Design</h4>
                    <div class="radial-bar radial-bar-85 " tooltip="85%">
                        <img src="/assets/img/CV/Frontend.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>BACK END</h4>
                    <div class="radial-bar radial-bar-info radial-bar-85" tooltip="85%">
                        <img src="/assets/img/CV/Backend.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>FRONT END</h4>
                    <div class="radial-bar radial-bar-success radial-bar-85" data-label="85%" tooltip="85%">
                        <img src="/assets/img/CV/Frontend.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>ACCOUNTING</h4>
                    <div class="radial-bar radial-bar-warning radial-bar-85" data-label="85%" tooltip="75%">
                        <img src="/assets/img/CV/Contabilidad.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4> SCRUM </h4>
                    <div class="radial-bar radial-bar-dark radial-bar-90" data-label="90%" tooltip="90%">
                        <img src="/assets/img/CV/Liderazgo.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>SERVERS </h4>
                    <div class="radial-bar radial-bar-danger radial-bar-80" data-label="85%" tooltip="75%">
                        <img src="/assets/img/CV/Servidores.png" />
                    </div>
                </div>
            </div>
            <h3 class="separador">PROFESSIONAL EXPERIENCE</h3>
            <div class="time_line">
                <ul class="timeline">
                    <li class="timeline-separator"></li>
                    <li>
                        <div class="timeline-badge warning">
                            2023
                        </div>
                        <div class="timeline-card">
                            <div class="popover left">
                                <h4 class="popover-header">Full Stack Developer at Paystand 2022-2023</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <b>Contact reference:  - Engineering director - </b>
                                    <br>
                                    <small>
                                        <i class="fa fa-circle"></i> Sage Intacct ERP C2C Accounts Receivable Management <br>
                                        <i class="fa fa-circle"></i> Bank reconciliation and account clearance<br>
                                        <i class="fa fa-circle"></i> API Rest services, implementation and maintenance <br>
                                        <i class="fa fa-circle"></i> Develop new product front and back features <br>
                                        <i class="fa fa-circle"></i> Customer support and help desk tickets <br>
                                        <i class="fa fa-circle"></i> Check - invoice matching and payment adminsitration
                                    </small>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <br>
                        <div class="timeline-card">
                            <div class="popover right">
                                <h4 class="popover-header"> Full Stack Developer at CT Internacional del Noroeste 2014 - 2022</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <b>Contact reference: Roberto Navarro Bartolini - TI Manager - (662)202-9702 </b>
                                        <br>
                                        <small>
                                            <i class="fa fa-circle"></i> Ecommerce support and maintenance <br>
                                            <i class="fa fa-circle"></i> In-house application development <br>
                                            <i class="fa fa-circle"></i> Bank payments matching and reconciliation <br>
                                            <i class="fa fa-circle"></i> Tax documents management <br>
                                            <i class="fa fa-circle"></i> API integration REST/SOAP services <br>
                                            <i class="fa fa-circle"></i> Product pricing/discounts strategies<br>
                                            <i class="fa fa-circle"></i> Balance reports <br>
                                            <i class="fa fa-circle"></i> Servers management and issues solving <br>
                                            <i class="fa fa-circle"></i> Fund management <br>
                                            <i class="fa fa-circle"></i> Team leader and project manager
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <br>
                        <div class="timeline-badge success">
                            2019
                        </div>
                        <div class="timeline-card">
                            <div class="popover left">
                                <h4 class="popover-header">Full Stack Developer and Project Manager (Freelance) On Campestre el Retiro - 2018 - 2019</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <b>Contact reference:: Francisco Manuel Duarte Medrano - Campestre el Retiro CEO </b>
                                    <br>
                                    <small>
                                        <i class="fa fa-circle"></i> Project manager and roadmap administration for an integral tool development<br>
                                        <i class="fa fa-circle"></i> Amortization panel custom build app<br>
                                        <i class="fa fa-circle"></i> Land credit payments management panel<br>
                                        <i class="fa fa-circle"></i> Payroll payment system <br>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </li>          
                    <li class="timeline-inverted">
                        <br>
                        <div class="timeline-badge info">
                            2015
                        </div>
                        <div class="timeline-card">
                            <div class="popover right">
                                <h4 class="popover-header"> Jr. Developer and consultant for Km Solucion </h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <b>Contact reference: Ing Heriberto Aja Leyva - KM Solución CEO - (662)189-3701 </b>
                                        <br>
                                        <small> 
                                            <i class="fa fa-circle"></i> Business support and integral consulting for customer needs<br>
                                            <i class="fa fa-circle"></i>  Marketing, social media and technology KPI manager <br>
                                            <i class="fa fa-circle"></i>  Jr. Web developer and consultant
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <br>
                        <div class="timeline-card">
                            <div class="popover left">
                                <h4 class="popover-header">Universidad de Sonora - Software Engineer 2009-2014</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <small>
                                        <i class="fa fa-circle"></i> EGEL- Ceneval certificate for Software Engineer
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-badge danger">
                            2009
                        </div>
                    </li>
                    <li class="timeline-separator"></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3> SKILLS AND STRENGTHS</h3>
                </div>
                <div class="col-lg-12">
                    <table class="table">
                        <tr>                            
                            <td> <i class="fa fa-business-time"></i> Adaptive and quick learning abilities </td>
                            <td> <i class="fa fa-puzzle-piece"></i> High performance support skills and pattern identification </td>
                            <!-- <td><a href="http://www.cudi.edu.mx/otono_2013/programa_capacitacion.php" target="_blank"><i class="fa fa-external-link-alt"></i> | Curso de Redes CUDI Ensenada - Expositor - 2013</a> </td>
                            <td><a href="http://www.leonmayoral.com/" target="_blank"><i class="fa fa-external-link-alt"></i> | Curso de ventas Agencia Leon Mayoral - 2014</a></td> -->
                        </tr>
                        <tr>
                            <td> <i class="fa fa-users"></i> Customer support specialist </td>
                            <td> <i class="fa fa-user-graduate"></i> Self management skills and business logic workflows experience </td>
                            <!-- <td><a href="https://platzi.com/clases/curso-php-laravel/" target="_blank"><i class="fa fa-external-link-alt"></i> | Curso de php con Laravel - 2016</a></td>
                            <td><a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/" target="_blank"><i class="fa fa-external-link-alt"></i> | NodeJs - The full getting started Andrew Mead - 2016</a> </td> -->
                        </tr>
                        <tr>
                            <td> <i class="fa fa-sitemap"></i> Product management roadmap and sprint workflow knowledge </td>
                            <td> <i class="fa fa-list-ul"></i> Urgency prioritization, task pointing and helpdesk ticket management </td>
                        </tr>
                        <tr> 
                            <td> <i class="fa fa-chart-line"></i> Team leader and business process focusing task manager </td>
                            <td> <i class="fa fa-code"></i> Development scalable patterns designs skills, and deploy process experience </td>
                            <!-- <td><a href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="_blank"><i class="fa fa-external-link-alt"></i> | Angular The Complete Guide - 2016</a></td>
                            <td><a href="https://sg.com.mx/buzz/autores/jorge-heras" target="_blank"><i class="fa fa-external-link-alt"></i> | SCRUM and Agile Programming Jorge Heras - 2017</a></td> -->
                        </tr>                        
                    </table>
                </div>
                <div class="col-lg-12">
                    <h3>FRAMEWORKS AND TOOLS</h3>
                    <p>
                        <a class="tags"> CodeIgniter </a>
                        <a class="tags"> Loopback</a>
                        <a class="tags"> Express</a>
                        <a class="tags"> Bootstrap</a>
                        <a class="tags"> Jira</a>
                        <a class="tags"> Gitlab</a>
                        <a class="tags"> Microsoft TFS</a>
                        <a class="tags"> Docker</a>
                        <a class="tags"> Drupal / Joomla / Wordpress</a>
                    </p>
                </div>                
                <br>
                <div class="col-lg-12">
                    <h3>DEVTOOLS AND SKILLS</h3>
                </div>
                <div class="col-lg-3">
                    <h4>Detalles</h4>
                    <table class="table table-responsive">
                        <tr>
                            <td><i class="fa fa-circle" style="color:#c00;"></i></td>
                            <td>Experience years (0 - 10)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle" style="color:#0195c3;" ></i></td>
                            <td>Domain (0 - 10)</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle" style="color:#fad732;"></i></td>
                            <td>App implementation (0 - 10)</td>
                        </tr>
                        <!-- <tr>
                            <td><i class="fa fa-circle" style="color:rgba(114,102,186,1)"></i></td>
                            <td> Project maintenance EXP (0 - 10)</td>
                        </tr> -->
                    </table>
                </div>
                <div class="col-lg-9">
                    <canvas baseChart [chartType]="'radar'" [options]="{responsive: true }" [datasets]="radar.Datos"
                         [labels]="radar.Titulos" [legend]="false" height="180"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>