<div class="container">
    <div class="row">
        <!-- <div class="col-lg-12">
            <div class="row contenedor_cabecera">
                <div class="col-lg-3">
                    <div class="img-contenedor">
                        <img class="img-fluid " src="../../../../assets/img/Usr.png" style=" cursor: pointer;">
                    </div>
                </div>
                <div class="col-lg-6">
                    ACERCA DE MI
                </div>
                <div class="col-lg-3 contacto_detalle">
                    <div class="contacto_form"></div>
                    <b>CONTACTO</b>
                </div>
                <div class="col-lg-12">
                        <div class="detalle-form"></div>
                </div>
            </div>

        </div> -->

        <div class="col-lg-4">
            <div class="contenedor_datos">
                <div class="img-contenedor">
                    <img class="img-fluid " src="../../../../assets/img/Usr.png" style=" cursor: pointer;">
                </div>
                <br><br>
                <h3 class="text-center"> LUIS FERNANDO CORDOVA </h3>
                <h4 class="text-center"> Consultor y Desarrollador </h4>
                <br>
                <h4> Datos Personales </h4>
                <table class="table text-white">
                    <tr>
                        <td><b>Nacimiento</b> </td>
                        <td>24/08/1991</td>
                    </tr>
                    <tr>
                        <td><b>Nacionalidad</b> </td>
                        <td>Mexicano</td>
                    </tr>
                    <tr>
                        <td><b>Estado Civil</b> </td>
                        <td>Union libre</td>
                    </tr>
                </table>
                <h4> Contacto </h4>
                <table class="table  text-white">
                    <tr>
                        <td><b>Celular</b> </td>
                        <td>6621-691999</td>
                    </tr>
                    <tr>
                        <td><b>Email</b> </td>
                        <td>luisfernandocordova.24@gmail.com </td>
                    </tr>
                    <tr>
                        <td><b>Pagina web</b> </td>
                        <td>metasoluciones.com</td>
                    </tr>
                </table>
                <h4> Software </h4>
                <table class="table  text-white">
                    <tr>
                        <td>
                            <b>Photoshop</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Herramienta de diseño">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="success" value="70">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">70%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ecomprobante</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Herramienta de diseño">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="info" value="60">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">60%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Macro Pro</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Herramienta de diseño">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="warning" value="40">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">40%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <h4> Otros Sitios </h4>
                <table class="table text-white">
                    <tr><td> <a>Linked In | <i class="fa fa-external-link-alt"></i></a></td> </tr>
                    <tr><td> <a>Computrabajo | <i class="fa fa-external-link-alt"></i></a></td></tr>
                </table>
                <h4>Ingles</h4>
                <table class="table text-white">
                    <tr>
                        <td>
                            <b>Lectura </b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Lectura">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="info" value="90">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">90%</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Escritura y gramatica</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Escritura y gramatica">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="primary" value="85">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">85%</div>
                                </div>
                            </div>
                        </td>
                    </tr>       
                    <tr>
                        <td>
                            <b>Pronunciación</b> <br>
                            <div class="d-flex align-items-center">
                                <div class="w-100">
                                    <div tooltip="Pronunciación">
                                        <div class="progress progress-xs m-0">
                                            <progressbar class="progress-xs m-0" type="danger" value="70">
                                            </progressbar>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd-xxs text-right">
                                    <div class="text-bold text-muted">70%</div>
                                </div>
                            </div>
                        </td>
                    </tr>                                 
                </table>
            </div>
        </div>
        <div class="col-lg-8">
            <h3 class="separador"></h3>
            <div class="row">
                <div class="col-lg-12">
                    <h3>INTERESES Y HOBIES</h3>
                    <p>
                        <a class="tags"> Rompecabezas </a>
                        <a class="tags"> Cubos de Rubic</a>
                        <a class="tags"> Tendencias economicas</a>
                        <a class="tags"> Fisica y Atronomia</a>
                        <a class="tags"> Portafolios de inversión </a>
                        <a class="tags"> Freelancer </a>
                    </p>
                </div>
                <div class="col-lg-2">
                    <h4>DISEÑO</h4>
                    <div class="radial-bar radial-bar-80 " tooltip="85%">
                        <img src="/assets/img/CV/Frontend.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>BACK END</h4>
                    <div class="radial-bar radial-bar-info radial-bar-80" tooltip="80%">
                        <img src="/assets/img/CV/Backend.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>FRONT END</h4>
                    <div class="radial-bar radial-bar-success radial-bar-80" data-label="85%" tooltip="85%">
                        <img src="/assets/img/CV/Frontend.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>CONTABILIDAD</h4>
                    <div class="radial-bar radial-bar-warning radial-bar-80" data-label="75%" tooltip="75%">
                        <img src="/assets/img/CV/Contabilidad.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4> LIDERAZGO </h4>
                    <div class="radial-bar radial-bar-dark radial-bar-80" data-label="80%" tooltip="80%">
                        <img src="/assets/img/CV/Liderazgo.png" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>SERVIDORES </h4>
                    <div class="radial-bar radial-bar-danger radial-bar-80" data-label="75%" tooltip="75%">
                        <img src="/assets/img/CV/Servidores.png" />
                    </div>
                </div>
            </div>
            <h3 class="separador">EXPERIENCIA PROFESIONAL</h3>
            <div class="time_line">
                <ul class="timeline">
                    <li class="timeline-separator"></li>
                    <li>
                        <div class="timeline-badge primary">
                            2014
                        </div>
                        <div class="timeline-card">
                            <div class="popover left">
                                <h4 class="popover-header">Universidad de Sonora - Ing. en Sistemas 2009-2014</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <small> <i class="fa fa-circle"></i> Titulo en Ingenieria de Software por EGEL- Ceneval </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning">
                            2014
                        </div>
                        <div class="timeline-card">
                            <div class="popover right">
                                <h4 class="popover-header">Consultor y Desarrollador en Km Solucion Consultoria </h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <b>Referencia: Ing Heriberto Aja Leyva - CEO de KM Solución - (662)189-3701 </b>
                                        <br>
                                        <small> <i class="fa fa-circle"></i> Interaccion con mas de 11 Clientes diferentes<br>
                                            <i class="fa fa-circle"></i> Desarrollo web y Consultor Jr</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-card">
                            <div class="popover left">
                                <h4 class="popover-header"> Analista y Desarrollador en CT Internacional del Noroeste
                                    2014 - 2019</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <b>Referencia: Roberto Navarro Bartolini - Director de TI </b>
                                        <br>
                                        <small>
                                            <i class="fa fa-circle"></i> Mantenimiento de un portal web con Ecommerce
                                            <br>
                                            <i class="fa fa-circle"></i> Desarrollo de aplicaciones internas <br>
                                            <i class="fa fa-circle"></i> Conciliación Bancaria <br>
                                            <i class="fa fa-circle"></i> Control de documentos fiscales <br>
                                            <i class="fa fa-circle"></i> Manejo de incidencias en servidores <br>
                                            <i class="fa fa-circle"></i> Lider de equipo de 4 Devs
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge danger">
                            2018
                        </div>
                        <div class="timeline-card">
                            <div class="popover right">
                                <h4 class="popover-header">Consultor y Desarrollador Freelance en Campestre el Retiro -
                                    2018</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <b>Referencia: Francisco Manuel Duarte Medrano - Director General
                                        </b>
                                        <br>
                                        <small>
                                            <i class="fa fa-circle"></i> Asesoria para el desarrollo de un panel
                                            integral <br>
                                            <i class="fa fa-circle"></i> Desarrollo de panel de amortización <br>
                                            <i class="fa fa-circle"></i> Aplicación para administrar pagos de
                                            terrenos<br>
                                            <i class="fa fa-circle"></i> Sistema para pago de nominas <br>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-card">
                            <div class="popover left">
                                <h4 class="popover-header"> Director y Fundador de Metasoluciones Consultoria especializada
                                    en soluciones de TI 2018</h4>
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <p>
                                        <small> <i class="fa fa-circle"></i> Servicio de asesoria comercial y
                                            desarrollos a la medida</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-badge info">
                            2019
                        </div>
                    </li>
                    <li class="timeline-separator"></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>CURSOS Y CAPACITACIONES</h3>
                </div>
                <div class="col-lg-12">
                    <table class="table">
                        <tr>
                            <td><a href="http://www.cudi.edu.mx/otono_2013/programa_capacitacion.php" target="_blank"><i class="fa fa-external-link-alt"></i> | Curso de Redes CUDI Ensenada - Expositor - 2013</a> </td>
                            <td><a href="http://www.leonmayoral.com/" target="_blank"><i class="fa fa-external-link-alt"></i> | Curso de ventas Agencia Leon Mayoral - 2014</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://platzi.com/clases/curso-php-laravel/" target="_blank"><i class="fa fa-external-link-alt"></i> | Curso de php con Laravel - 2016</a></td>
                            <td><a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/" target="_blank"><i class="fa fa-external-link-alt"></i> | NodeJs - The full getting started Andrew Mead - 2016</a> </td>
                        </tr>
                        <tr> 
                            <td><a href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="_blank"><i class="fa fa-external-link-alt"></i> | Angular The Complete Guide - 2016</a></td>
                            <td><a href="https://sg.com.mx/buzz/autores/jorge-heras" target="_blank"><i class="fa fa-external-link-alt"></i> | SCRUM and Agile Programming Jorge Heras - 2017</a></td>
                        </tr>                        
                    </table>
                </div>
                <div class="col-lg-12">
                    <h3>FRAMEWORKS Y HERRAMIENTAS</h3>
                    <p>
                        <a class="tags"> CodeIgniter </a>
                        <a class="tags"> Laravel</a>
                        <a class="tags"> Bootstrap</a>
                        <a class="tags"> Drupal</a>
                        <a class="tags"> Microsoft TFS</a>
                        <a class="tags"> Assana</a>
                    </p>
                </div>                
                <div class="col-lg-12">
                    <h3>LENGUAJES Y CONOCIMIENTOS</h3>
                </div>
                <div class="col-lg-3">
                    <h4>Detalles</h4>
                    <table class="table table-responsive">
                        <tr>
                            <td><i class="fa fa-circle" style="color:rgba(114,102,186,1);"></i></td>
                            <td>Años de Experiencia</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle" style="color:rgba(151,187,205,1);"></i></td>
                            <td>Dominio</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle" style="color:#0195c3"></i></td>
                            <td>Desarrollos</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-9">
                    <canvas baseChart [chartType]="'radar'" [options]="{responsive: true }" [datasets]="radar.Datos"
                        [colors]="radar.Colors" [labels]="radar.Titulos" [legend]="false" height="180"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>