<div class="row">
    <div class="col-lg-12">
        <div class="size-carousel">
            <carousel class="slide-animated">
                <slide>
                    <img src="../../../assets/img/Banners/img_01.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                    <img src="../../../assets/img/Banners/img_02.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
            </carousel>
        </div>
    </div>
    <div class="col-lg-12"><br></div>
    <div class="row size-carousel">
        <div class="col-lg-4 text-center Cntnr4">
            <!-- background: #519cff; color: #fff; padding: 7px; -->
            <h3 >Nuestro Equipo</h3>
            <div class="c2_fl c2_ribbon"></div>
            <div class="c2_rl c2_ribbon"></div>
            DETALLES 1
        </div>
        <div class="col-lg-4 text-center">
            <h3 style="background: #519cff; color: #fff; padding: 7px;">Nuestro Equipo</h3>
            DETALLES 1
        </div>
        <div class="col-lg-4 text-center">
            <h3 style="background: #519cff; color: #fff; padding: 7px;">Nuestro Equipo</h3>
            DETALLES 1
        </div>
    </div>
</div>
