<div class="container">
    <div class="row">
        <div class="col-lg-12 box-carousel">
            <carousel class="slide-animated">
                <slide>
                    <img src="../../../assets/img/Banners/img_03.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide> 
                    <img src="../../../assets/img/Banners/img_04.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
            </carousel>
        </div>
        <div class="col-lg-12"><br></div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center ">
            <h3 class="titulos_contenedor"> 
                Empresa
                <div class="left_t adornos"></div>
                <div class="right_t adornos"></div>                
            </h3>
            <br>
            <p class="text-justify texto_contenedor">
                Meta soluciones te ofrece un gran repertorio de soluciones para tu negocio, nos especializamos en soluciones web. Pero nos adaptamos a tus necesidades
                <br><br>
                Ofrecemos asesoría y consultoria en cualquier solución que adquieras de nosotros, y te ayudamos siempre a tomar la mejor decisión para tu empresa.
            </p>
            <br><br>
            <button class="btn btn-primary float-right">Ver Empresa | <i class="fa fa-external-link-alt"></i> </button>
        </div>
        <div class="col-lg-4 text-center">
            <h3 class="titulos_contenedor"> 
                Equipo
                <div class="left_t adornos"></div>
                <div class="right_t adornos"></div>                
            </h3>
            <br>
            <p class="text-justify texto_contenedor">
                Tenemos una amplia experiencia, con proyectos diversos y en variedad de situaciones.
                Conocemos las problematicas que te aquejan y generamos soluciones economicas que se adaptarán a tu equipo
                <br><br>
                Revisamos tu cazo y adaptamos a la mejor persona para tus necesidades, reviza nuestra sección de Equipo para conocer a los miembros.
            </p>
            <br><br>
            <button class="btn btn-primary float-right"   [routerLink]="'/Equipo'">Ver Equipo | <i class="fa fa-external-link-alt"></i> </button>
        </div>
        <div class="col-lg-4 ">
            <div class="contacto_contenedor">
                <h3 class="titulo_contacto">Contáctanos</h3>
                <p class="font_detalle text-justify">
                    Ofrecemos soluciones desarrolladas en negocios reales,
                    contactanos y recibe una opinion
                    profesional sobre tus ideas de negocio
                </p>
                <h4>TEL:</h4>
                <p>
                    6621-691999
                </p>
                <h4>Correo:</h4>
                <p>
                    meta.soluciones.ti@gmail.com
                </p>
                <h4>Siguenos :</h4>
                <p>
                    <b class="icon_social"><i class="fa-2x fab fa-facebook-square"></i></b>
                    <b class="icon_social"><i class="fa-2x fab fa-twitter-square"></i></b>
                    <b class="icon_social"><i class="fa-2x fab fa-linkedin"></i></b>
                    <b class="icon_social"><i class="fa-2x fab fa-youtube-square"></i></b>
                </p>
            </div>
            <div class="col-lg-12">
                <br><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 text-center ">
            <h3 class="titulos_contenedor dark"> Servicios
                <div class="left_t adornos dark_i"></div>
                <div class="right_t adornos dark_i"></div>                
            </h3>
            <br>
            <div class="texto_contenedor">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-lg-2 bg-info">
                            <i class="fa fa-chart-line fa-5x center"></i>
                        </div>
                        <div class="col-lg-10 text-left">
                            <div class="card-body ">
                                <b class="card-title"> Consultoria Estrategica: </b>
                                <p class="card-text text-justify">
                                    Conocemos las problematicas de tu negocio, mira mas nuestro apartado de servicios para conocer el plan que se acomoda a tus necesidades.
                                    <a class="text-primary float-right"> Ver Mas | <i class="fa fa-external-link-alt"></i> </a>                                  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-lg-2 bg-success">
                            <i class="fa fa-piggy-bank fa-5x center"></i>
                        </div>
                        <div class="col-lg-10 text-left">
                            <div class="card-body ">
                                <b class="card-title"> Asesoria Contable y  Fiscal : </b>
                                <p class="card-text text-justify">
                                    En las reformas actuales del SAT, los comprobantes fiscales son todo un lio, incluso si no facturas, mantener control de gastos y cuentas organizadas es dificil,  
                                    conoce como podemos ayudarte para que tengas un mejor control de gastos
                                    <a class="text-primary float-right"> Ver Mas | <i class="fa fa-external-link-alt"></i> </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-lg-2 bg-danger">
                            <i class="fab fa-cloudversify fa-5x center"></i>
                        </div>
                        <div class="col-lg-10 text-left">
                            <div class="card-body ">
                                <b class="card-title"> Desarrollos de Aplicaciónes Web/Android: </b>
                                <p class="card-text text-justify">
                                    Mira nuestras mejores propuestas para desarrollos web y conoce las tecnologías que te acercaran para estar disponible para tus clientes en donde sea cuando sea. 
                                    <a class="text-primary float-right"> Ver Mas | <i class="fa fa-external-link-alt"></i> </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-lg-2 bg-dark text-white">
                            <i class="fa fa-diagnoses fa-5x center"></i>
                        </div>
                        <div class="col-lg-10 text-left">
                            <div class="card-body ">
                                <b class="card-title"> Diseño y posicionamiento:</b>
                                <p class="card-text text-justify">
                                    Hoy en dia las redes sociales controlan los medios para posicionamiento, ventas y publicidad , aprende a sacarle el maximo provecho uniendote a sus tendencias
                                    <a class="text-primary float-right"> Ver Mas | <i class="fa fa-external-link-alt"></i> </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center ">
            <h3 class="titulos_contenedor"> Información
                <div class="left_t adornos"></div>
                <div class="right_t adornos"></div>                
            </h3>
            <br>
            <p class="text-justify texto_contenedor">
                Descubre buenas practicas gratuitas que pueden ayudar a tu negocio y apoyate en nuestro contenido digital para complementar y desarrollar tus propias tecnicas de mejora.
                <br><br>
                Mira nuestros libros sobre temas de interes, consulta la documentación de tu sitio si ya eres cliente.
                <br><br>
                Prueba las aplicaciones que haran llevar mejor control de gastos y descarga software de interes, herramientas para platicas o cursos en linea
                <br><br>
                <a class="text-primary font_informacion"><i class="min-wi fa fa-book"></i>Libros </a>
                <br><br>
                <a class="text-primary font_informacion"><i class="min-wi fa fa-boxes"></i>Buenas practicas </a>
                <br><br>
                <a class="text-primary font_informacion"><i class="min-wi fa fa-play-circle"></i>Aplicaciones </a>
                <br><br>
                <a class="text-primary font_informacion"><i class="min-wi fa fa-toolbox"></i>Herramientas </a>
                <br><br>
                <a class="text-primary font_informacion"><i class="min-wi fa fa-headphones"></i>Cursos en linea </a>
            </p>
        </div>            
    </div>
</div>