<footer class="footer_contenedor ">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 border_footer">
                <h4 >Consultoria</h4> 
                <ul class="pages"> 
                    <li><a href="#"><i class="min-wi fa fa-suitcase"></i>Asesoría</a></li>
                    <li><a href="#"><i class="min-wi fa fa-user-graduate"></i>Cursos</a></li>
                    <li><a href="#"><i class="min-wi fa fa-chart-line"></i>Inversión</a></li>
                    <li><a href="#"><i class="min-wi fa fa-money-check-alt"></i>Contabilidad</a></li>
                    <li><a href="#"><i class="min-wi fa fa-book"></i>Buenas Practicas</a></li>
                </ul>
            </div>
            <div class="col-lg-4 border_footer">
                <h4 >Desarrollos</h4> 
                <ul class="list">
                    <li><a href="#"><i class="min-wi fa fa-mouse-pointer"></i>Paginas web</a></li>
                    <li><a href="#"><i class="min-wi fa fa-cogs"></i>Paneles Administrativos</a></li>
                    <li><a href="#"><i class="min-wi fa fa-play-circle"></i>Aplicaciones </a></li>
                    <li><a href="#"><i class="min-wi fa fa-shopping-cart"></i>Carrito web</a></li>
                </ul>
            </div>         
            <div class="col-lg-4 border_footer">
                <h4> Articulos y redes</h4>
                <ul>
                    <li><a href="#"><i class="min-wi fab fa-facebook-square"></i>Facebook</a></li>
                    <li><a href="#"><i class="min-wi fab fa-twitter-square"></i>Twitter</a></li>
                    <li><a href="#"><i class="min-wi fab fa-linkedin"></i>Linked In</a></li>
                    <li><a href="#"><i class="min-wi fab fa-youtube-square"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>