<div class="container">
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            <h3>SERVICIOS</h3>
        </div>
        <div class="col-lg-4 text-center ">
            <h3 class="titulos_contenedor">
                Empresa
                <div class="left_t adornos"></div>
                <div class="right_t adornos"></div>
            </h3>
            <br>
            <p class="text-justify texto_contenedor">
                Meta soluciones te ofrece un gran repertorio de soluciones para tu negocio, nos especializamos en
                soluciones web. Pero nos adaptamos a tus necesidades
                <br><br>
                Ofrecemos asesoría y consultoria en cualquier solución que adquieras de nosotros, y te ayudamos siempre
                a tomar la mejor decisión para tu empresa.
            </p>
            <br><br>
            <button class="btn btn-primary float-right">Ver Empresa | <i class="fa fa-external-link-alt"></i> </button>
        </div>
        <div class="col-lg-4 text-center ">
            <h3 class="titulos_contenedor">
                Empresa
                <div class="left_t adornos"></div>
                <div class="right_t adornos"></div>
            </h3>
            <br>
            <p class="text-justify texto_contenedor">
                Meta soluciones te ofrece un gran repertorio de soluciones para tu negocio, nos especializamos en
                soluciones web. Pero nos adaptamos a tus necesidades
                <br><br>
                Ofrecemos asesoría y consultoria en cualquier solución que adquieras de nosotros, y te ayudamos siempre
                a tomar la mejor decisión para tu empresa.
            </p>
            <br><br>
            <button class="btn btn-primary float-right">Ver Empresa | <i class="fa fa-external-link-alt"></i> </button>
        </div>
    </div>
    <br><br>
</div>