<div class="topnav {{(mostrarDatos)?'responsive':''}}" id="myTopnav">
    <a [routerLink]="'/Home'"class="active">
        <img src="../../../assets/img/meta_soluciones_logo.png" />eta Soluciones
    </a>
    <a [routerLink]="'/Home'" >Inicio</a>
    <a [routerLink]="'/Equipo'">Equipo</a>
    <a [routerLink]="'/Portafolio'">Portafolio</a>
    <a [routerLink]="'/Servicios'">Servicios</a>
    <a [routerLink]="'/Contacto'">Contacto</a>
    <a class="icon" (click)="mostrarDatos = !mostrarDatos">
        <i class="fa fa-bars"></i>
    </a>
</div>
